/* Estilo para o container principal da página */
.main-content {
  margin-left: 5dvw;
  margin-right: 5dvw;
  min-height: fit-content;
  height: auto;
  max-height: max-content;
  box-sizing: border-box;
}

.formulario {
  padding: 2%;
  display: flex;
  flex-direction: column;
  max-width: 40%;
  width: 100%;
  background-color: #fafafa;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.478);
}

/* Ajustes no título */
.loginHeader {
  width: 100%;
  margin-top: 5dvh;
  font-weight: bold;
  font-size: 300%;
  text-transform: uppercase;
  text-align: left;
}

.mat-icon {
  background-color: black;
}

.input-container {
  display: flex;
  width: 90%;
  margin: 0 auto;
}

.input-container i.material-icons {
  margin-right: 2%;
}

.input-container input {
  text-transform: capitalize;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px #fafafa inset !important;
    -webkit-text-fill-color: #000 !important;
}

.label {
  margin-left: 11.5%;
  text-transform: uppercase;
  color: #000;
  margin-top: 1dvh;
}

.estadoUf {
  gap: 1dvw;
  display: flex;
  width: 90%;
  justify-content: space-between;
}

.uf {
  width: 55%;
  text-align: right;
}

.estado {
  width: 55;
  text-align: right;
}

tr {
  border-top: 1px solid rgba(0, 0, 0, 0.12);
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.registrar_botao {
  margin-top: 3dvh;
  margin-right: auto;
  margin-left: auto;
  text-transform: uppercase;
  width: auto;
  background-color: rgb(0, 174, 255);
  transition: background-color 0.3s ease;
}

.registrar_botao:hover {
  background-color: rgb(0, 117, 172);
}

.registrar_botao:active{
  background-color: white;
  outline: none;
}

.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
  max-width: fit-content;
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 1000;
  text-transform: capitalize;
  padding: 0.5vw;
  border: 0.5px solid;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.438);
}

.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
  max-width: fit-content;
  position: fixed;
  top: 60px;
  right: 10px;
  z-index: 1000;
  text-transform: capitalize;
  padding: 0.5vw;
  border: 0.5px solid;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.438);
}

.alert-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
  max-width: fit-content;
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 1000;
  text-transform: capitalize;
  padding: 0.5vw;
  border: 0.5px solid;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.438);
}
