/* Estilos da Sidebar */
.sidebar {
  color: white;
  height: 100%;
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 2vh;
  border-right: 1px solid black;
  background: rgb(48, 147, 255);
  background: linear-gradient(180deg, rgb(19, 108, 202) 0%, rgba(0, 70, 147, 1) 100%);
  overflow: hidden;
  transition: transform 0.3s ease;
  transform: translateX(-100%); /* Inicialmente oculta */
}

/* Sidebar aberta */
.sidebar.open {
  transform: translateX(0);
}

/* Sidebar fechada */
.sidebar.closed {
  transform: translateX(-100%);
}

/* Estilo para a logo na sidebar */
.logoAcademia {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid white;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  flex-direction: row;
  overflow: hidden;
}

.logoAcademia i {
  margin-right: 0.5rem;
  font-size: 3rem;
}

.logoAcademia h3 {
  margin: 0;
  font-size: 1.2rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Estilos para os itens da lista */
.sidebar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebar ul li {
  border-bottom: 1px solid rgba(255, 255, 255, 0.664);
}

/* Adiciona espaçamento entre ícones e texto */
.sidebar ul li a {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 10px;
  width: 100%;
  gap: 10px;
}

/* Estilos adicionais para o texto */
.sidebar ul li a span {
  margin-left: 10px;
}

/* Efeito de hover */
.sidebar ul li a:hover {
  background-color: rgba(255, 255, 255, 0.342);
}

/* Botão de menu */
.menu-button {
  display: none;
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 1000;
  background: transparent;
  border: none;
  color: black;
  font-size: 2rem;
  cursor: pointer;
  transition: left 0.3s ease; /* Transição para a posição do botão */
}

/* Mostrar o botão de menu em dispositivos móveis */
@media (max-width: 768px) {
  .menu-button {
    display: block;
  }
}

/* Ajustes para telas muito pequenas */
@media (max-width: 100%) {
  .sidebar {
    width: 150px;
  }

  .logoAcademia i {
    font-size: auto;
  }

  .logoAcademia h3 {
    font-size: auto;
  }
}
