<div class="sidebar fundo">
  <h3 class="logoAcademia text-content">
    <i class="medium material-icons">fitness_center</i> Academia
  </h3>
  <ul class="text-content">
    <!-- ALUNOS ATIVOS -->
    <li>
      <a class="logo" [routerLink]="['/search/ativos']" routerLinkActive="active-link">
        <i class="material-icons small">people</i> Alunos Ativos
      </a>
    </li>

    <!-- ALUNOS CADASTRADOS -->
    <li>
      <a class="logo" [routerLink]="['/search']" routerLinkActive="active-link">
        <i class="material-icons small">people_outline</i> Alunos Cadastrados
      </a>
    </li>

    <!-- REGISTRAR -->
    <li>
      <a class="logo" [routerLink]="['/search/registrar']" routerLinkActive="active-link">
        <i class="material-icons small">person_add</i> Registrar Aluno
      </a>
    </li>

     <!-- MENSALIDADES TOTAIS -->
     <li>
      <a class="logo" [routerLink]="['/search/mensalidades']" routerLinkActive="active-link">
        <i class="material-icons small">attach_money</i> Mensalidades Gerais
      </a>
    </li>

    <!-- SAIR -->
    <li>
      <a class="logo" [routerLink]="['/login']" (click)="logout()">
        <i class="material-icons small">login</i> Sair
      </a>
    </li>
  </ul>
</div>
