.apagar{
  margin-right: auto;
  margin-left: 0.5dvw;
  text-transform: uppercase;
  width: auto;
  background-color: rgb(255, 49, 49);
  transition: background-color 0.3s ease;
}

.apagar:hover {
  background-color: rgb(190, 28, 28);
}

.apagar:active {
  background-color: white;
  outline: none;
}

.ativar{
  margin-left: auto;
  margin-right: 0.5dvw;
  text-transform: uppercase;
  width: auto;
  background-color: rgb(53, 196, 40);
  transition: background-color 0.3s ease;
}

.ativar:hover {
  background-color: rgb(35, 141, 31);
}

.ativar:active {
  background-color: white;
  outline: none;
}

.dialog {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  max-height: 100%;
  height: auto;
  width: auto;
  z-index: 9999;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 0dvh;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
}


