/* Estilo para o container principal da página */
.main-content {
  margin-left: 5dvw;
  margin-right: 5dvw;
  min-height: fit-content;
  height: auto;
  max-height: max-content;
  box-sizing: border-box;
}

/* Ajustes no título */
.loginHeader {
  width: 100%;
  margin-top: 5dvh;
  font-weight: bold;
  font-size: 300%;
  text-transform: uppercase;
  text-align: left;
}

/* Ajustes no campo de pesquisa */
.pesquisar {
  display: flex;
  gap: 1dvh;
  align-items: center;
  padding-bottom: 1vh;
  width: 100%;
}

.mat-mdc-row {
  background-color: #fff;
  color: #444;
}

tr {
  border-bottom: 0.1px solid rgb(104, 104, 104);
}

/* Estilo para a tabela */
.custom-table {
  width: 100%;
  margin: 3vh auto;
  background-color: rgb(250, 250, 250);
  border: 0.1px solid #dfdfdf;
}

/* Estilo para os botões */
.atualizar, .apagar, .ativar {
  text-transform: uppercase;
  width: auto;
  margin: 0.5rem;
  transition: background-color 0.3s ease;
}

.atualizar {
  background-color: rgb(0, 174, 255);
}

.atualizar:hover {
  background-color: rgb(0, 117, 172);
}

.apagar {
  background-color: rgb(255, 49, 49);
}

.apagar:hover {
  background-color: rgb(190, 28, 28);
}

.ativar {
  background-color: rgb(53, 196, 40);
}

.ativar:hover {
  background-color: rgb(35, 141, 31);
}

/* Estilo para as colunas da tabela */
.nome-column {
  width: 19%;
}

.nascimento-column {
  width: 12%;
}

.criacao-column {
  width: auto;
}

.telefone-column {
  width: auto;
}

.endereco-column {
  width: 20%;
}

.actions-column {
  width: auto;
  justify-content: center;
}

/* Títulos */
.mat-header-cell {
  font-weight: bolder;
  text-transform: uppercase;
}
