/* Estilo para o container principal da página */
.main-content {
  margin-left: 5dvw;
  margin-right: 5dvw;
  min-height: fit-content;
  height: auto;
  max-height: max-content;
  box-sizing: border-box;
}

/* Ajustes no título */
.loginHeader {
  width: 100%;
  margin-top: 5dvh;
  font-weight: bold;
  font-size: 300%;
  text-transform: uppercase;
  text-align: left;
}

/* Ajustes no campo de pesquisa */
.pesquisar {
  display: flex;
  gap: 1dvh;
  align-items: center;
  padding-bottom: 1vh;
  width: 100%;
}

/* Estilo para a coluna */
.mat-mdc-row {
  background-color: #fff;
  color: #444;
}

tr {
  border-bottom: 0.1px solid rgb(104, 104, 104);
}

/* Estilo para a tabela */
.custom-table {
  width: 100%;
  margin: 3vh auto;
  background-color: rgb(250, 250, 250);
  border: 0.1px solid #dfdfdf;
}

/* Estilo para a tabela */
.paginator {
  width: 100%;
}

/* Títulos */
.mat-header-cell {
  font-weight: bolder;
  text-transform: uppercase;
}

.mat-mdc-header-cell {
  font-weight: bolder;
  text-transform: uppercase;
}

.nome-column {
  width: 30%;
}

.cpf-column {
  width: 20%;
}

.data-column {
  width: 20%;
}

.valor-column {
  width: 15%;
}

.status-column {
  width: 15%;
  justify-content: center;
}

