/* Container principal que envolve a sidebar e o conteúdo principal */
.main-container {
  display: flex;
  min-height: 100vh;
}

/* Sidebar fixa no lado esquerdo */
app-side-bar {
  width: 250px;
  flex-shrink: 0;
}

/* Conteúdo principal que usa o restante do espaço */
.main-content {
  flex: 1;
  overflow: auto;
}

/* Adiciona um espaçamento no lado direito do conteúdo para não encostar na sidebar */
.main-content {
  margin-left: auto;
}

/* Responsividade para telas menores */
@media (max-width: auto) {
  .main-container {
    flex-direction: column;
  }

  .main-content {
    margin-left: 0;
    padding: 0px;
  }
}
