
<!--

<nav *ngIf="showNavbar">
  <div class="nav-wrapper">
    <a class="brand-logo logo" [routerLink]="['/alunos']">
      <i class="large material-icons" style="margin-left: 10px; font-size: larger;">fitness_center</i>
      <span>Acadêmia</span>
    </a>
    <ul class="right hide-on-med-and-down">
      <li>
        <a class="logo" [routerLink]="['/registrar']">
          <i class="large material-icons" style="margin-right: 5px;">person_add</i>
        </a>
      </li>
      <li>
        <a class="logo" [routerLink]="['/login']">
          <i class="large material-icons" style="margin-right: 5px;">login</i>
        </a>
      </li>
    </ul>
  </div>
</nav>

-->
