

.mat-mdc-paginator-page-size-label, .mat-mdc-paginator-page-size-value {
  margin: 0 4px;
  opacity: 0;
}

.mat-mdc-dialog-container {
  width: 100%;
  height: 100%;
  display: block;
  box-sizing: border-box;
  max-height: inherit;
  min-height: inherit;
  min-width: inherit;
  max-width: inherit;
  outline: 0;
  margin-left: 45vw;
  margin-top: -86vh;
}

.mdc-dialog--open .mat-mdc-dialog-surface, .mdc-dialog--closing .mat-mdc-dialog-surface {
  transform: none;
  width: auto;
  max-width: 15dvw;
  z-index: 5;
}

div.mat-mdc-select-panel {
  width: 100%;
  max-height:  auto;
  padding: 2%;
  border-radius: 0%;
  border: 0.1px solid rgb(173, 173, 173);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flexbox;
}

.cdk-overlay-pane {
  position: absolute;
  pointer-events: auto;
  box-sizing: border-box;
  z-index: 1000;
  display: flex;
  max-width: 125%;
  max-height: 126%;
  width: auto !important;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


